<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin Login</title>
</head>

<body>
    <h1>Admin Login</h1>
    <form method="POST" action="/admin/login">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Log In</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>